<mat-dialog-content>
    <form #stepForm="ngForm">
        <span class="label-titulo">Editar Etapa</span>
      <div style="margin-top: 34px; margin-bottom: 10px;" fxLayout="row">
        <div style="margin-right: 16px;" fxLayout="column">
          <span class="label-titulo">Nome da Etapa</span>
          <mat-form-field class="largura-input" appearance="outline" style="width: 323px;">
            <input matInput placeholder="placeholder">
          </mat-form-field>
        </div>
  
        <div fxLayout="column">
          <span class="label-titulo">Ordem</span>
          <mat-form-field appearance="outline" style="width: 86px;">
            <input matInput type="number">
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <div class="save-button" >
    <button class="cancela-btn"(click)="cancel()"  >Cancelar</button>
    <button mat-raised-button color="primary" (click)="save()" class="button-salvar"> Salvar </button>
</div>
