<!--section class="property-bindig">
    <article>
        <h3>Interpolation / Interpolação</h3>
        <p>interpolação {{ url }}</p>
        <p> o valor de 1 + 1 é igual a {{ getResultado()}}</p>
    </article>

    <article>
        <h3>Property Bnding</h3>
        <img src={{urlImagem}}>
    </article>

    <article>
        <h1> Class e Style Bindig</h1>
        <div>
            selecione uma classe:
            <br>
            <select #classe (change)="0">
                <br>
                <option value="alert-success">Sucesso</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Alerta</option>
                <option value="alert-danger">Erro</option><br>
            </select>
            
            <div class="alert" role="alert"
            [class.alert-success]="classe.value == 'alert-success'">
                SUCESSO
              </div>
              <div class="alert" role="alert"
              [class.alert-info]="classe.value == 'alert-info'">
                INFO
              </div>
              <div class="alert" role="alert"
              [class.alert-warning]="classe.value == 'alert-warning'">
                ALERTA
              </div>
              <div class="alert" role="alert"
              [class.alert-danger]="classe.value == 'alert-danger'">
                PERIGO
              </div>
        </div>
    </article>
</section>

<section>
    <article>
        <h4>Event Binding</h4>
        <button (click)="botaoClicado()" type="button" class="btn btn-primary">Primary</button>
        <br><br>

        <input type="text" 
        (keyup)="onKeyUp($event)" 
        (keyup.enter)="salvarValor(campoImput.value)"
        (blur)="salvarValor(campoImput.value)" 
        #campoImput/>

        <p> Valor Digitado: {{valorAtual}}</p>
        <p> Valor salvo: {{valorSalvo}}</p>

        <br>
        <span (mouseover)="OnMouseOverOut()"
              (mouseout)="OnMouseOverOut()"
              [class.highLight]="isMouseOver"
         >
            Passe o mouse sobre mim!
        </span>
    </article>
</section-->

<!--app-meu-form></app-meu-form-->

<!--section>
    <article>
        <h3>Input/Output Properties</h3>
        <app-curso [nome]="nomeDoCurso"></app-curso>

        <contador [valor]="valorInicial" (mudouValor)="onMudouValor($event)"></contador>
    </article>
</section!-->

<section>
    <article>
        <h1>Diretivas estruturais</h1>
        <button (click)="onAparecer()">Clique</button>
        <h4 *ngIf="clique">voce clicou</h4>
        <br><br>
        <ul>
            <li *ngFor="let livro of livros">{{ livro }}</li>
           </ul>
    </article>
</section>



